## LAN Extension: New Classes

The **LAN extension (HDDM >= 0.9.0)**, provides three new classes which are LAN-enabled versions of the respective classes in base HDDM.
These new classes are, 

- The `HDDMnn()` class
- The `HDDMnnStimCoding()` class
- The `HDDMnnRegressor()` class

The usage mirrors what you are used to from standard HDDM equivalents. 

What changes is that you now use the `model` argument to specify one of the models you find listed in the `hddm.model_config.model_config` dictionary (you can also provide a custom model, for which you should look into the respective section in this documentation).

Moreover, you have to be a little more careful when specifying the `include` argument, since the ability to use new models comes with new parameters. To help get started here, the `hddm.model_config.model_config` dictionary provides you a `hddm_include` key *for every model-specific sub-dictionary*. This let's you fit all parameters of a given model. To keep some parameters fixed, remove them respectively from the resulting list.

### Short example

In [10]:
import hddm

In [11]:
model = 'angle'
cavanagh_data = hddm.load_csv(hddm.__path__[0] + '/examples/cavanagh_theta_nn.csv')
model_ = hddm.HDDMnn(cavanagh_data,
                     model = model,
                     include = hddm.model_config.model_config[model]['hddm_include'],
                     is_group_model = False)

Setting priors uninformative (LANs only work with uninformative priors for now)
Includes supplied:  ['z', 'theta']

In [12]:
model_.sample(1000, burn = 200)

 [-----------------100%-----------------] 1001 of 1000 complete in 22.0 sec

In [13]:
model_.get_traces()

            v         a   z_trans         t     theta
0    0.362657  1.279809  0.100552  0.293367  0.219623
1    0.347255  1.265401  0.065679  0.303313  0.217390
2    0.353600  1.260157  0.074713  0.297913  0.213457
3    0.327564  1.261381  0.043989  0.309488  0.216046
4    0.363990  1.274243  0.030869  0.295772  0.221900
..        ...       ...       ...       ...       ...
795  0.369220  1.322772  0.013902  0.287593  0.242824
796  0.383198  1.300787  0.018496  0.281645  0.230118
797  0.352363  1.298063 -0.004444  0.283756  0.235838
798  0.355785  1.303034  0.032976  0.285204  0.232276
799  0.368346  1.295958  0.038444  0.286766  0.230839

[800 rows x 5 columns]

In [14]:
model_.gen_stats()

,mean,std,2.5q,25q,50q,75q,97.5q,mc err
v,0.367355,0.022102,0.325831,0.352295,0.367635,0.383658,0.409726,0.001155
a,1.310485,0.023723,1.264522,1.295559,1.309213,1.325134,1.361408,0.002074
z,0.505486,0.005988,0.493992,0.501693,0.505369,0.509463,0.517051,0.00034
t,0.285347,0.009728,0.266361,0.279472,0.28532,0.291927,0.304614,0.00077
theta,0.242268,0.014679,0.214883,0.233054,0.241219,0.252035,0.273616,0.001201